<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
>
    
    <h:head> 
    
      <title>Application KESS</title>
    
      <h:outputStylesheet library="css" name="styles.css"/> 
    
    </h:head> 
    
    <h:body>
         
       <ui:include src="c000_menu.xhtml" />
       
       <p:graphicImage value="/resources/images/volcan.png"/>
    
    </h:body> 

</html>

