<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        
        <title>Consultation des Clients</title>
        <h:outputStylesheet library="css" name="styles.css"/> 
       
    </h:head>
    
   
    <h:body>
        <f:event type="javax.faces.event.PreRenderViewEvent" listener="#{c101_ContConsClient.initSession()}"/>   
       <ui:include src="c000_menu.xhtml" />  
      <h:form>
            
        <f:view locale="fr">
           <p:separator/>     
           <p:panelGrid columns="3">
                    
              <p:outputLabel value="N° Client" for="numero"/>
              
              <p:inputText   id="numero"   value="#{c101_ContConsClient.numero}" />
              
              <p:commandButton value="Rechercher"   action="#{c101_ContConsClient.ecouteurRecherche()}" 
                                            update="@all"/>  
                
           </p:panelGrid>
            <p:separator/>   
            <p:panelGrid columns="2" style="text-align: right" >
                    
               <p:outputLabel value="Nom" />
               <h:outputText   value="#{c101_ContConsClient.client.nom}" />
                    
                    
               <p:outputLabel  value="Adresse" />
               <h:outputText   value="#{c101_ContConsClient.client.adresse}" /> 
               
                   
               <p:outputLabel value="Distance KM" />    
               <h:outputText   value="#{c101_ContConsClient.client.distanceKM}" />
      
                  
                       
            </p:panelGrid>
              <!--  <p:separator/>     
                
          <p:dataTable value="#{c101_ContConsContrat.contrat.lesInterventions}" var="interv" sortBy="#{interv.numero}"   >
                
               <p:column   headerText="N° Intervention"   > #{interv.numero} </p:column> 
                
               <p:column headerText="Date" >
                 <h:outputText   value="#{interv.dateInterv}" >
                    <f:convertDateTime pattern="dd/MM/yyyy"  timeZone="Europe/Paris"/>  
                 </h:outputText> 
               </p:column>
                    
               <p:column  headerText="Technicien" > #{interv.leTechnicien.nom}</p:column>
                    
               <p:column headerText="Coût" style="text-align: right">         
                  <h:outputText   value="#{interv.coutInterv()}" >
                    <f:convertNumber type="currency" currencySymbol="€" 
                                     groupingUsed="true" 
                                     minFractionDigits="2"/>
                  </h:outputText> 
               </p:column>
                    
             </p:dataTable>-->
            </f:view>
        </h:form>   
    </h:body>
</html>

