<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Création d'un nouveau Client</title>
        <h:outputStylesheet library="css" name="styles.css"/> 
    </h:head>
    <h:body>
        
      <ui:include src="c000_menu.xhtml" />    
     <h:form>   
         
         <p:separator/>
     
         <p:panelGrid columns="2">
            
            <p:outputLabel value="Nom" for="nom"/>
            <p:inputText id="nom" value="#{c201_ContCreerClient.client.nom}" 
                         required="true" validatorMessage="Il faut entrer le nom du client"/>
            
             <p:outputLabel value="Adresse" for="adresse"/>
             <p:inputText id="adresse" value="#{c201_ContCreerClient.client.adresse}" 
                         required="true" validatorMessage="Il faut entrer l'adresse du client"/>
             
             <p:outputLabel value="Distance KM" for="distanceKM"/>
             <p:inputText id="distanceKM" value="#{c201_ContCreerClient.client.distanceKM}" 
                         required="true" validatorMessage="Il faut entrer la distance du client"/>
        </p:panelGrid>
        
        <p:separator/>
        
        <p:outputLabel rendered="#{c201_ContCreerClient.fait}" value="#{c201_ContCreerClient.message}" />
        
        <p:commandButton value="Créer"  disabled="#{c201_ContCreerClient.fait}" action="#{c201_ContCreerClient.traiter()}"  update="@all" />
        <p:commandButton value="Nouveau"  disabled="#{!c201_ContCreerClient.fait}" action="#{c201_ContCreerClient.raz()}"      update="@all" />
     </h:form> 
    
    </h:body>
</html>

