<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        
        <title>Consultation des Techniciens</title>
        <h:outputStylesheet library="css" name="styles.css"/> 
       
    </h:head>
    
    <h:body>
        
        <f:event type="javax.faces.event.PreRenderViewEvent" listener="#{c101_ContConsTech.initSession()}"/>   
        <ui:include src="c000_menu.xhtml" />  
        
            <h:form>
            
                <f:view locale="fr">
                <p:separator/>     
                
                <p:panelGrid columns="3">
                    
                    <p:outputLabel value="N° Technicien" for="numtech"/>
                    <p:inputText   id="numtech"   value="#{c101_ContConsTech.numtech}" />
                    <p:commandButton value="Rechercher"   action="#{c101_ContConsTech.ecouteurRecherche()}" 
                                            update="@all"/>  
                
                </p:panelGrid>
                <p:separator/>   
                
                <p:panelGrid columns="2" style="text-align: right" >
                    
                    <p:outputLabel value="Nom" />
                    <h:outputText   value="#{c101_ContConsTech.technicien.nom}" />
                                
                    <p:outputLabel  value="Grade" />
                    <h:outputText   value="#{c101_ContConsTech.technicien.leGrade.libelle}" /> 
                                 
                    <p:outputLabel value="Date Embauche" />    
                    <h:outputText   value="#{c101_ContConsTech.technicien.dateEmbauche}" >
                        <f:convertDateTime pattern="dd/MM/yyyy"  timeZone="Europe/Paris"/>  
                    </h:outputText>          
                    
                    <p:outputLabel  value="Coût Horaire De Base" />
                    <h:outputText   value="#{c101_ContConsTech.technicien.leGrade.tauxHoraire}" >
                        <f:convertNumber type="currency" currencySymbol="€" groupingUsed="true" minFractionDigits="2"/>
                    </h:outputText>
                    
                    <p:outputLabel  value="Coût Horaire Majoré" />
                    <h:outputText   value="#{c101_ContConsTech.technicien.coutHoraireTechnicien()}" >
                        <f:convertNumber type="currency" currencySymbol="€" groupingUsed="true" minFractionDigits="2"/>
                    </h:outputText>   
                    
                </p:panelGrid>

                </f:view>
                
        </h:form>
        
    </h:body>
    
</html>